.footerFullArea{
    background-color: black;
    /* padding-bottom:160px; */
    height: 250px;
    color: white;
   
}
.footerFullArea i{
    font-size: 180%;
    margin-top: 75%;
    margin-left: 0%;
   
}
.FooterText p{
    font-weight: 700;
    font-size: 20px;
    color: #777777;
    align-items: center;
    text-align: center;
    margin-left: 5%;
}



@media only screen and (max-width:768px) {
    .footerFullArea i{
        margin-left: 30%;
    }
    .FooterText p{
       
    margin-left: -3%;
    }
    
}